<div class="flex flex-col mb-4 md:flex-row items-center justify-start gap-5 md:gap-28 w-full mx-auto max-w-4xl px-4 lg:max-w-7xl lg:px-8">
  <div class="flex flex-col gap-2 w-content">
    <p class="text-color-gray font-light text-sm md:text-base">Your resource for homes and real estate in</p>
    <h2 class="text-color-gray font-bold text-4xl md:text-5xl">Atlanta, GA</h2>
  </div>
  <div class="font-base text-xs md:w-2/4 lg:w-7/12">The heart of downtown is swimming with exciting nightlife, world-famous attractions, and historic landmarks; the surrounding neighborhoods offer unique, local businesses that reflect the individual character of each area. In the midst of all the urban city activities, Atlanta real estate is also surrounded by a variety of parks, gardens, and green spaces. When it comes to <%= link_to 'Georgia Real Estate.', root_path, class:"text-green-blue underline underline-offset-1" %> in an active city, it doesn't get more vibrant than Atlanta.</div>
</div>