<div class="flex justify-center my-12">
  <span class="px-3 py-2 mx-1 font-bold text-sm bg-primary-color text-white cursor-pointer">1</span>
  <span class="px-3 py-2 mx-1 font-bold text-sm cursor-pointer hover:bg-gray-200">2</span>
  <span class="px-3 py-2 mx-1 font-bold text-sm cursor-pointer hover:bg-gray-200">3</span>
  <span class="px-3 py-2 mx-1 font-bold text-sm cursor-pointer hover:bg-gray-200">NEXT</span>
</div>
